* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  display: grid;
  grid-template-columns: 21.9619326501vw 1fr;
  grid-template-rows: 1fr 15vh;
  grid-template-areas: "header main" "header footer";
}
body p {
  margin-bottom: 0px;
  line-height: 1.5rem;
}
body a {
  text-decoration: none;
}
body header {
  grid-area: header;
  width: 21.9619326501vw;
  height: 100%;
  position: fixed;
}
body main {
  grid-area: main;
  font-family: "Roboto", sans-serif;
}
body footer {
  grid-area: footer;
  background-color: #b8d4f9;
}

.conteiner .header {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  background-color: #b8d4f9;
  font-family: "Roboto", sans-serif;
}
.conteiner .header .header__top {
  position: relative;
  height: 49.4672754947vh;
  background-color: #0062a4;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  color: lightgray;
  /*         border-radius: 0 0 1rem 1rem;
   */
}
.conteiner .header .header__top .header__img {
  width: 14.6412884334vw;
  border-radius: 50%;
  /*         box-shadow: 0px 3px 4px black;

   */
  background-color: #b8d4f9;
}
.conteiner .header .header__top .bold {
  font-weight: 700;
}
.conteiner .header .header__top .header__nombre {
  font-weight: 300;
  text-align: center;
  margin-bottom: 5vh;
}
.conteiner .header .semibold {
  margin: 2vh 0;
}
.conteiner .header .lenguages {
  display: flex;
  flex-direction: row;
  margin: 2vh 0;
  width: 95%;
}
.conteiner .header .lenguages .leng {
  width: 90px;
}
.conteiner .header .lenguages .full {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 3px;
  justify-self: flex-end;
  /*     border: 0.5px solid ;
   */
}
.conteiner .header .lenguages .full::after {
  width: 20px;
  height: 20px;
  background-color: #0062a4;
  border-radius: 50%;
  margin: 0 3px;
  justify-self: flex-end;
  /*     border: 0.5px solid ;
   */
}
.conteiner .header .lenguages .one {
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.conteiner .header .lenguages .two {
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.conteiner .header .lenguages .three {
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-delay: 1.4s;
          animation-delay: 1.4s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.conteiner .header .lenguages .four {
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
.conteiner .header .lenguages .five {
  -webkit-animation-name: fill;
          animation-name: fill;
  -webkit-animation-delay: 1.8s;
          animation-delay: 1.8s;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-play-state: running;
          animation-play-state: running;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}
@-webkit-keyframes fill {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #0062a4;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
@keyframes fill {
  0% {
    background-color: #ffffff;
  }
  100% {
    background-color: #0062a4;
    -webkit-animation-fill-mode: forwards;
            animation-fill-mode: forwards;
  }
}
.conteiner .header .lenguages .empty {
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border-radius: 50%;
  margin: 0 3px;
  justify-self: flex-end;
  /*     border: 0.5px solid ;
   */
}
.conteiner .header .webDev {
  margin-top: 15px;
  color: #184e77;
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: 700;
}

.conteiner .main {
  overflow: hidden;
}
.conteiner .main .fieldtest {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  height: 100vh;
}
.conteiner .main .fieldtest .title {
  color: #0062a4;
  margin: 2rem 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
}
.conteiner .main .tresde {
  margin-top: 10vh;
  margin-bottom: 15vh;
  left: 10vw;
  position: relative;
  z-index: 999;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.conteiner .main .tresde .cote {
  display: flex;
  flex-direction: row;
}
.conteiner .main .tresde .cote .blanco {
  width: 35px;
  height: 28px;
  border: 1px solid black;
  transform: rotate(60deg) skewX(30deg);
  position: relative;
  left: 10px;
  bottom: 3px;
  background: #020024;
  background: linear-gradient(94deg, #020024 0%, #737375 100%, black 100%);
}
.conteiner .main .tresde .cote .gradiante {
  border: 1px solid black;
  width: 200px;
  height: 30px;
  transform: skew(30deg, 10deg);
  background: #020024;
  background: white;
  background: linear-gradient(85deg, white 0%, #8becf2 100%, black 100%);
}
.conteiner .main .tresde .programador {
  width: 200px;
  height: 27.5px;
  transform: skew(-30deg, 10deg);
  position: relative;
  left: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #020024;
  background: linear-gradient(263deg, #020024 0%, #737375 100%, black 100%);
  color: white;
  box-shadow: 10px 11px 5px -2px rgba(0, 0, 0, 0.75);
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: shadowgrow;
          animation-name: shadowgrow;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}
.conteiner .main .tresde .programador p {
  font-family: "Oswald", sans-serif;
  font-weight: 700;
  font-size: 1.7em;
}
.conteiner .main .main__grid {
  padding-top: 10vh;
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "left right";
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-snap-align: center;
}
.conteiner .main .main__grid .left {
  grid-area: left;
  width: 95%;
}
.conteiner .main .main__grid .left .title {
  color: #0062a4;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
}
.conteiner .main .main__grid .left .trabajos {
  width: 90%;
  margin: 2rem 0;
}
.conteiner .main .main__grid .left .trabajos .trabajos__empresa {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.conteiner .main .main__grid .left .trabajos .trabajos__empresa .trabajos__puesto {
  font-weight: 300;
  color: #0062a4;
}
.conteiner .main .main__grid .left .trabajos .trabajos__tiempo {
  color: #0062a4;
}
.conteiner .main .main__grid .left .trabajos .trabajos__desc {
  line-height: 1.1em;
  margin: 0.5em 0;
}
.conteiner .main .main__grid .right {
  grid-area: right;
  width: 95%;
}
.conteiner .main .main__grid .right .title {
  color: #0062a4;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
}
.conteiner .main .main__grid .right .trabajos {
  width: 90%;
  margin: 2rem 0;
}
.conteiner .main .main__grid .right .trabajos .trabajos__empresa {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}
.conteiner .main .main__grid .right .trabajos .trabajos__empresa .trabajos__puesto {
  font-weight: 300;
  color: #0062a4;
}
.conteiner .main .main__grid .right .trabajos .trabajos__tiempo {
  color: #0062a4;
}
.conteiner .main .main__grid .right .trabajos .trabajos__desc {
  line-height: 1.1em;
  margin: 0.5em 0;
}
.conteiner .main .diploCert {
  color: #0062a4;
  margin: 1rem 0;
  font-family: "Montserrat", sans-serif;
  text-align: center;
  font-weight: 700;
}
.conteiner .main .main__diplomas {
  margin-top: 5rem;
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-snap-align: start;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "main__diplomasleft main__diplomasright";
}
.conteiner .main .main__diplomas .main__diplomasleft {
  grid-area: main__diplomasleft;
  width: 98%;
  margin: auto;
}
.conteiner .main .main__diplomas .main__diplomasleft .diploma {
  position: relative;
  transition: 1s all ease-in-out;
}
.conteiner .main .main__diplomas .main__diplomasleft .diploma:hover {
  transform: scale(1.5) translate(25%, 0);
  box-shadow: 11px 10px 28px 2px rgba(0, 0, 0, 0.41);
  z-index: 9999;
}
.conteiner .main .main__diplomas .main__diplomasright {
  grid-area: main__diplomasright;
  width: 90%;
  margin: auto;
}
.conteiner .main .main__formulario {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  width: 50%;
  margin: auto;
}
.conteiner .main .main__formulario .title {
  color: #0062a4;
}

@-webkit-keyframes bounce {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@keyframes bounce {
  0% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@-webkit-keyframes shadowgrow {
  0% {
    box-shadow: 31px 30px 14px 6px rgba(0, 0, 0, 0.75);
  }
  50% {
    box-shadow: 10px 11px 5px -2px rgba(0, 0, 0, 0.75);
  }
  100% {
    box-shadow: 31px 30px 14px 6px rgba(0, 0, 0, 0.75);
  }
}
@keyframes shadowgrow {
  0% {
    box-shadow: 31px 30px 14px 6px rgba(0, 0, 0, 0.75);
  }
  50% {
    box-shadow: 10px 11px 5px -2px rgba(0, 0, 0, 0.75);
  }
  100% {
    box-shadow: 31px 30px 14px 6px rgba(0, 0, 0, 0.75);
  }
}
@-webkit-keyframes social {
  0% {
    transform: translate(42%, 13%);
  }
  10% {
    transform: translate(33%, 5%);
  }
  20% {
    transform: translate(33%, 59%);
  }
  30% {
    transform: translate(22%, 14%);
  }
  40% {
    transform: translate(3%, 15%);
  }
  50% {
    transform: translate(12%, 47%);
  }
  60% {
    transform: translate(40%, 8%);
  }
  70% {
    transform: translate(21%, 9%);
  }
  80% {
    transform: translate(39%, 59%);
  }
  90% {
    transform: translate(26%, 1%);
  }
  100% {
    transform: translate(49%, 38%);
  }
}
@keyframes social {
  0% {
    transform: translate(42%, 13%);
  }
  10% {
    transform: translate(33%, 5%);
  }
  20% {
    transform: translate(33%, 59%);
  }
  30% {
    transform: translate(22%, 14%);
  }
  40% {
    transform: translate(3%, 15%);
  }
  50% {
    transform: translate(12%, 47%);
  }
  60% {
    transform: translate(40%, 8%);
  }
  70% {
    transform: translate(21%, 9%);
  }
  80% {
    transform: translate(39%, 59%);
  }
  90% {
    transform: translate(26%, 1%);
  }
  100% {
    transform: translate(49%, 38%);
  }
}
.conteiner .footer {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.conteiner .footer .custom-shape-divider-top-1636830491 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}
.conteiner .footer .custom-shape-divider-top-1636830491 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 306px;
}
.conteiner .footer .custom-shape-divider-top-1636830491 .shape-fill {
  fill: #FFFFFF;
}
.conteiner .footer .socials {
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.conteiner .footer .socials .random {
  height: 6vh;
}
.conteiner .footer .socials .facebook {
  position: relative;
  -webkit-animation-name: social;
          animation-name: social;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.conteiner .footer .socials .github {
  position: relative;
  -webkit-animation-name: social;
          animation-name: social;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.conteiner .footer .socials .linkedin {
  position: relative;
  -webkit-animation-name: social;
          animation-name: social;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
.conteiner .footer .socials .instagram {
  position: relative;
  -webkit-animation-name: social;
          animation-name: social;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.conteiner .footer .socials .twitch {
  position: relative;
  -webkit-animation-name: social;
          animation-name: social;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.conteiner .footer .socials .twitter {
  position: relative;
  -webkit-animation-name: social;
          animation-name: social;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
}
.conteiner .footer .socials .whatsapp {
  position: relative;
  -webkit-animation-name: social;
          animation-name: social;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}

@media (max-width: 1000px) {
  .conteiner {
    display: block;
  }
  .conteiner .header {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  .conteiner .header .header__top {
    display: flex;
    flex-direction: column;
    padding-top: 2vh;
  }
  .conteiner .header .header__top .header__img {
    height: 30vh;
    width: 30vh;
  }
  .conteiner .main .main__grid {
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }
  .conteiner .main .main__diplomas {
    display: flex;
    flex-direction: column;
  }
  .conteiner .main .main__diplomas .main__diplomasright {
    display: none;
  }
  .conteiner .main .main__diplomas .main__diplomasleft .diplomas__coder .diploma:hover {
    transform: scale(1.5);
  }
  .conteiner .footer {
    height: 10vh;
  }
}/*# sourceMappingURL=style.css.map */