@keyframes bounce {
    0%{
        transform: scale(1.1)

    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
    
}
@keyframes shadowgrow {
    0%{
        box-shadow: 31px 30px 14px 6px rgba(0,0,0,0.75);
    }
    50%{
        box-shadow: 10px 11px 5px -2px rgba(0,0,0,0.75);

    }
    100%{
        box-shadow: 31px 30px 14px 6px rgba(0,0,0,0.75);
    }

}

@keyframes social {
    0%{
        transform: translate(random(60) + 0% , random(60) - 0%);
    }
    10%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
    20%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
    30%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
    40%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
    50%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
    60%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
    70%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
    80%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
    90%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
     100%{
        transform: translate(random(60) + 0% , random(60) + 0%);

    }
    
}