@import "variantes";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    
    display: grid;
    grid-template-columns: 21.961932650073205vw 1fr;
    grid-template-rows: 1fr 15vh;
    grid-template-areas: "header main"
                        "header footer";
      p{
       margin-bottom: 0px;
       line-height: 1.5rem;

       }
    a{
        text-decoration: none;
    }
    header{
        grid-area: header;
        width: 21.961932650073205vw;
        height: 100%;
        position: fixed;

        
    }
    main{
        grid-area: main;
        font-family: $roboto;
        
    }
    footer{
        grid-area: footer;
        background-color: $headerbg;
       
    }
    
}