@mixin animation ($duration, $direction) {
    position: relative;
       animation-name: social;
       animation-duration: $duration;
       animation-iteration-count: infinite;
       animation-direction: $direction;
    
}.conteiner{
.footer{
    width: 100%;
    overflow: hidden;
    position: relative;
    .custom-shape-divider-top-1636830491 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    
    .custom-shape-divider-top-1636830491 svg {
        position: relative;
        display: block;
        width: calc(100% + 1.3px);
        height: 306px;
    }
    
    .custom-shape-divider-top-1636830491 .shape-fill {
        fill: #FFFFFF;
    }




    
    .socials{
        width: 95%;
        display: flex;
    flex-direction: row;
    justify-content: space-between;
    .random{
       height: 6vh;
       
    }
    .facebook{
        @include animation( 3s, alternate-reverse )
    }
    .github{
        @include animation( 2s, alternate )
    }
    .linkedin{
        @include animation( 4s, alternate-reverse )
    }
    .instagram{
        @include animation( 6s, alternate )
    }
    .twitch{
        @include animation( 3s, alternate )
    }
    .twitter{
        @include animation( 4s, alternate )
    }
    .whatsapp{
        @include animation( 2s, alternate-reverse )
    }
    }
}
}