@import "variantes";
@mixin balls ($bgcolor) {
    width: 20px;
    height: 20px;
    background-color: $bgcolor;
    border-radius: 50%;
    margin:  0 3px;
    justify-self: flex-end;
/*     border: 0.5px solid ;
 */    
}
@mixin fillanimation ($filldelay) {
    animation-name: fill;
    animation-delay: $filldelay;
    animation-duration: 0.5s;
    animation-play-state: running;
    animation-fill-mode: forwards;

    
}
.conteiner{
.header{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    background-color: $headerbg;
    font-family: $roboto;
    .header__top{
        position: relative;
        height: 49.467275494672755vh;
        background-color: $headertopbg;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-around;
        color: lightgray;
/*         border-radius: 0 0 1rem 1rem;
 */        
    .header__img{
        width:14.641288433382138vw;
        border-radius: 50%;
/*         box-shadow: 0px 3px 4px black;

 */            
 background-color: $headerbg;  
    }

    .bold{
        font-weight: $bold;
    }
    .header__nombre{
        font-weight:$thin ;
        text-align: center;
        margin-bottom: 5vh;
    }
}
.semibold{
    margin: 2vh 0;
}


    .lenguages{
        display: flex;
        flex-direction: row;
        margin: 2vh 0;
        width: 95%;
        
        .leng{
            width: 90px;
            
        }
        

    

    
    .full{
       @include balls($colorempty);
      &::after{
        @include balls($colorfull);
    }

        
    }
    .one{
        @include fillanimation(1s)
       
    }
    .two{
        @include fillanimation(1.2s)

    }
    .three{
        @include fillanimation(1.4s)

    }
    .four{
        @include fillanimation(1.6s)

    }
    .five{
        @include fillanimation(1.8s)

    }
    @keyframes fill {
        0%{
            background-color: $colorempty;
        }
        100%{
            background-color: $colorfull;
            animation-fill-mode: forwards
        }
        
    }
    
    .empty{
        @include balls($colorempty)

    }
}
.webDev{
    margin-top: 15px;
    color: #184e77;
    font-family: $montserrat;
    font-size: 2rem;
    font-weight: 700;
}



    

}
}