@import "variantes";
@mixin estilo {
    .trabajos{
        width: 90%;
        margin: 2rem 0;
        
        .trabajos__empresa{
            font-weight: $bold;
            font-family: $montserrat;

            .trabajos__puesto{
                font-weight: $thin;
                color: $titulo;
            }
            
            
        }
        .trabajos__tiempo{
            color: $titulo;
        }
        .trabajos__desc{
            line-height: 1.1em;
            margin: .5em 0;
        }

    }
    
}

.conteiner{
.main{
overflow: hidden;
.fieldtest{
    scroll-snap-type: y mandatory;
    scroll-snap-type: x mandatory;

    scroll-snap-align: center;
height: 100vh;

    .title{
        color:$titulo ;
            margin: 2rem 0;
            font-family: $montserrat;
            text-align: center;
            font-weight: $bold;
    }
}


    .tresde{
        margin-top: 10vh;
        margin-bottom: 15vh;
        left: 10vw;
        position: relative;
        z-index: 999;
        animation-duration: 3s;
        animation-name: bounce;
        animation-iteration-count: infinite;
        
        .cote{

            display: flex;
            flex-direction: row;
            .blanco{

                width: 35px;
                height: 28px;
                border: 1px solid black;
                transform: rotate(60deg) skewX(30deg);
                position: relative;
                left: 10px;
                bottom: 3px;
                background: rgb(2,0,36);
                background: linear-gradient(94deg, rgba(2,0,36,1) 0%, rgba(115,115,117,1) 100%, rgba(0,0,0,1) 100%);                
            }
            .gradiante{

                border: 1px solid black;
                width: 200px;
                height: 30px;
                transform: skew(30deg, 10deg);
                background: rgb(2,0,36);
                background: rgb(255,255,255);
                background: linear-gradient(85deg, rgba(255,255,255,1) 0%, rgba(139,236,242,1) 100%, rgba(0,0,0,1) 100%);            }

        }   
        .programador{
            

                width: 200px;
                height: 27.5px;
                transform: skew(-30deg, 10deg);
                position: relative;
                left: 36px;
                display: flex;
                justify-content: center;
                align-items: center;
                background: rgb(2,0,36);
                background: linear-gradient(263deg, rgba(2,0,36,1) 0%, rgba(115,115,117,1) 100%, rgba(0,0,0,1) 100%);
               color: white;
                box-shadow: 10px 11px 5px -2px rgba(0,0,0,0.75);
                animation-duration: 3s;
                animation-name: shadowgrow;
                animation-iteration-count: infinite;

                
                p{
                    font-family: $oswald;
                    font-weight: $bold;
                    font-size: 1.7em;
                    
                }

        }
        
        
    }


    
    .main__grid{
        padding-top: 10vh;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "left right";
    scroll-snap-type: y mandatory;
    scroll-snap-type: x mandatory;

    scroll-snap-align: center;
.left{
        grid-area: left;
        width: 95%;
        .title{
            color:$titulo ;
            margin: 1rem 0;
            font-family: $montserrat;
            
            
        }

        @include estilo()
    }
    .right{
        grid-area: right ;
        width: 95%;
        

        .title{
            color:$titulo ;
            margin: 1rem 0;
            font-family: $montserrat;

        }
        @include estilo()
    }
    }
    .diploCert{
        color:$titulo ;
        margin: 1rem 0;
        font-family: $montserrat;
        text-align: center;
        font-weight: $bold;
    }
    .main__diplomas{
        margin-top: 5rem;
        scroll-snap-type: y mandatory;
        scroll-snap-type: x mandatory;
        scroll-snap-align: start;
           display: grid;
           grid-template-columns: 1fr 1fr;
           grid-template-areas: "main__diplomasleft main__diplomasright";

            .main__diplomasleft{
                grid-area: main__diplomasleft;
                width: 98%;
                margin: auto;
                .diploma{
                    position: relative;
                    transition: 1s all ease-in-out;
                    &:hover{
                        transform: scale(1.5) translate(25%, 0);
                        box-shadow: 11px 10px 28px 2px rgba(0,0,0,0.41);
                        z-index: 9999;

                    }
                }

            }
            .main__diplomasright{
                grid-area: main__diplomasright;
                width: 90%;
                margin: auto;
            }
        }
        .main__formulario{
            scroll-snap-type: y mandatory;
            scroll-snap-type: x mandatory;
            scroll-snap-align: center;
                width: 50%;
            margin: auto;
            .title{
                color: $headertopbg;
            }
        }
        
    }
}