@media (max-width: 1000px) {
        .conteiner{
            display: block;
        .header{
            width: 100%;
            height: 100vh;
            position: relative;
            .header__top{
                display: flex;
                flex-direction: column;
                padding-top: 2vh;
                .header__img{
                    height: 30vh;
                    width: 30vh;
                }
            }
            
        }
        .main{
            .main__grid{
                width: 95%;
                margin: auto;
                display: flex;
                flex-direction: column;
            }
            .main__diplomas{
                display: flex;
                flex-direction: column;
                .main__diplomasright{
                    display: none;
                }
                .main__diplomasleft{
                    .diplomas__coder{
                        .diploma{
                        &:hover{
                            transform: scale(1.5);
                             }
                         }
                    }
                }
            }
        }
        .footer{
            height: 10vh;
        }
        }

        }
  
    
  