$oswald: 'Oswald', sans-serif;
$roboto: 'Roboto', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$colorfull: #0062a4;
$colorempty: #ffffff;
$headerbg: #b8d4f9;
$headertopbg: #0062a4;
$bold: 700;
$semibold: 500;
$thin: 300;
$titulo: #0062a4;
